<div class="container p-1">
  <div class="deals-contentp-1 mt-4">
    <input type="text" class="form-control" placeholder="search product" [(ngModel)]="searchtext" name="search">
  </div>
</div>

<div class="deals containers p-3">
  <div class="deals-content">

    <div class="show-all-deals p-3 d-flex row flex-column flex-md-row justify-content-center 
   align-items-center">


    
      <div class="card m-2" style="width: 16rem;" *ngFor="let abc of filteredCard">
        <img
          [src]="abc.image"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b><u>{{abc.title}}</u></b></h5>
          <p class="description">{{abc.description}}</p>
          <h5 class="price"><b>Rs. {{abc.price}}<span></span></b></h5>
          <a href="#" class="btn">Order Now!</a>
        </div>
      </div>
    </div>


  </div>
</div>